
/* Fonts */

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url(../fonts/cuprumbold.woff2) format('woff2'),
    url(../fonts/cuprumbold.woff);
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Cuprum';
  src: url(../fonts/cuprumbolditalic.woff2) format('woff2'),
    url(../fonts/cuprumbolditalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url(../fonts/cuprumitalic.woff2) format('woff2'),
    url(../fonts/cuprumitalic.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsans.woff2) format('woff2'),
  url(../fonts/ptsans.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsansbold.woff2) format('woff2'),
    url(../fonts/ptsansbold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  }

/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-dark-blue: #293449;
  --basic-blue: #32425C;
  --basic-sky-blue: #3BBCE3;
  --basic-green: #63A63E;
  --basic-fern: #8ED78F;
  --basic-light-blue: #F1F5F7;
  --basic-white: #ffffff;
  --basic-white-rgb: 255, 255, 255;
  --basic-greylight-rgb: 197, 197, 197;
  --basic-orange: #FFBF47;
  --basic-pink: #DC91D8;
  --basic-dark-orange: #FFC047;
  --basic-black: #000000;
  --basic-black-rgb: 0, 0, 0;
  --basic-beige: #F9F5F0;
  --basic-gray: #A9A9A9;
  --basic-gold: #FFD180;
  --basic-light-gray: #F3F7F9;
  --basic-dark-red: #BA2732;
  --basic-beige-darknes: #f7f3ec;

  --special-green: #5fbb2d;
  --special-light-blue: #F2F6F8;
  --special-black-active: #161D29;
  --special-gray-active: #c5c5c5;
  --special-blue-active: #1d2739;
  --special-graylight-active: 169, 169, 169;
  --special-red: #CA2C37;
  --special-green-active: #518534;
  --special-green-shadow: #367315;
  --special-gray-border: #e5e5e5;
}

/* Global */

.page-body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

a {
  text-decoration: none;
}

/* Header */

.main-header {
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--basic-light-blue);
}

/* Top Header*/

.top-header {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  min-width: 75%;
}

.main-logo {
  display: inline-block;
  line-height: 0;
  margin: 0;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-logo img {
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 57px;
  padding-right: 57px;
}

.main-logo:active {
  background-color: var(--basic-dark-red);
}

.search {
  display: inline-block;
}

.search input {
  background-color: var(--basic-dark-blue);
  border: none;
}


.search input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search input:hover {
  background-color: var(--basic-white);
}

.bookmarks:active,
.basket:active {
  background-color: var(--special-black-active);
  color: rgba(var(--basic-white-rgb), 0.5)
}

.basket,
.bookmarks {
  padding-top: 9px;
  padding-bottom: 9px;
}

.basket-full {
  background-color: var(--basic-red);
}

.order-details {
  display: inline-block;
}

.order-details a {
  color: var(--basic-white);
  float: left;
}


.order-confirm {
  background-color: var(--basic-green);
  padding-top: 9px;
  padding-bottom: 9px;
}

.order-confirm:hover {
  background-color: var(--special-green);
}

.order-confirm:active {
  color: rgba(var(--basic-white-rgb), 0.5);
}

.login-link:hover {
  color: var(--basic-red);
}

.registration-link:hover {
  color: var(--basic-red);
}

.login-link:active,
.registration-link:active {
  color: var(--special-gray-active);
}

/* Mid Header*/

.title h1 {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: var(--basic-red);
}

.title p {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: var(--basic-red);
}

.mid-header {
  width: 75%;
}

.contacts a {
  padding-top: 7px;
  padding-bottom: 8px;
  padding-right: 45px;

  border: 3px solid var(--basic-white);
  color: var(--basic-red);
}

.contacts p {
  font-size: 14px;
  color: var(--basic-blue);
}

.account-field a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

/* Bottom Header */

.bottom-header {
  max-width: 75%;
  text-align: center;
  background: var(--basic-blue);
  color: var(--basic-white);
}

.site-navigation {
  list-style: none;

  text-align: center;
  font-style: normal;
  font-weight:400;
  box-shadow: inset 0px -5px 0px #293449;
 }

.navigation-item a {
  color: var(--basic-white);
}

.navigation-item a:hover {
  background-color: var(--basic-dark-blue);
}

.navigation-item a:active {
  background-color: var(--special-blue-active);
  color:rgba(var(--basic-white-rgb), 0.5);
}

/* Body */

.container {
  background-color: var(--basic-white);
  width: 75%;
}

/* Preview */

.preview-list {
  list-style: none;
}

.preview-list li:nth-of-type(1) {
  background-color: var(--basic-orange);
}

.preview-list li:nth-of-type(2) {
  background-color: var(--basic-sky-blue);
}

.preview-list li:nth-of-type(3) {
  background-color: var(--basic-pink);
}

.preview-list li:nth-of-type(4) {
  background-color: var(--basic-fern);
}

.preview-list li:nth-of-type(5) {
  background-color: var(--basic-dark-orange);
}

.preview-item {
  width: 300px;
  padding-bottom: 21px;

  line-height: 20px;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;

  color: var(--basic-white);
}

.preview-item h3 {
  padding-top: 20px;
  padding-left: 23px;
}

.preview-item a {
  margin-left: 23px;

  line-height: 18px;
  font-size: 14px;
  font-style: normal;

  color: var(--basic-white);
  text-transform: uppercase;
}

.preview-link {
  width: 135px;
  padding: 10px 24px;

  background-color: rgba(var(--basic-white-rgb), 0.3);
}

.preview-link:hover {
  background-color: rgba(var(--basic-greylight-rgb), 0.3);
}

.preview-link:active {
  background-color: rgba(var(--special-graylight-active), 0.3);
}

/* Slider */

.slider-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.slider-item h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.button {
  width: 192px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-align: center;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button:hover {
  background-color: var(--special-red);
}

.button:active {
  background-color: var(--basic-dark-red);
}

/* Popular goods */

.popular-goods {
  height: auto;
}


.popular-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  color: var(--basic-blue);
  background-color: var(--basic-beige);
}

.product-list {
  list-style: none;
}

.product-card a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  color: var(--basic-black);
}

.sale-price {
  color: var(--basic-gray);
  text-decoration: line-through;
}

.price {
  padding-bottom: 10px;
  padding-top: 10px;

  font-family: 'PT Sans', 'Arial', sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-red);
  font-size: 17px;
  line-height: 18px;
  width: 141px;
  text-align: center;
}

.offer-list a:first-of-type {
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  border-radius: 2px;
  background-color: var(--basic-green);
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--special-green-shadow);
}

.offer-list a:nth-of-type(2) {
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  background-color: var(--basic-white);
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.offer-list a:first-of-type:hover {
  background-color: var(--special-green);
}

.offer-list a:first-of-type:active {
  background-color: var(--special-green-active);
}

.offer-list a:nth-of-type(2):hover {
  border: 3px solid var(--basic-blue);
}

.offer-list a:nth-of-type(2):active {
  opacity: 0.5;
}

/* Popular brands */

.brand-item {
  box-sizing: border-box;
  width: 220px;
  list-style: none;
  border: 1px solid #EAEAEA;
}

/*
.brand-item {
  box-shadow: 0 0 10px rgba(var(--basic-black-rgb) 0.5);
}
*/

/* Services */

.services {
  background-color: var(--basic-light-blue);
  height: 100%;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  color: var(--basic-black);
  text-transform: uppercase;
}

.services h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;

  color: var(--basic-blue);
}

.services p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  color: var(--basic-black)
}

.services-list {
  color: var(--basic-blue);

  list-style: none;
}

.services-button {
  padding-top: 13.5px;
  padding-bottom: 17.5px;
  width: 240px;

  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;

  border: none;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.services-item .active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.services-button:hover {
  background-color: var(--basic-dark-blue);
}

.services-button:active {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

/* About us */

.about-us {
  float: left;
  color: var(--basic-black);
}

.about-us h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-us p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.company-list {
  font-size: 18px;
}

map {
  float: right;
  color: var(--basic-black);
}

.map h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.map p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* Footer */

.footer {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  margin-top: 70px;
}

.footer-top {
  background-color: var(--basic-blue);
}

.footer-logo {
  padding-top: 21px;
  padding-bottom: 26px;
  width: 220px;

  background-color: var(--basic-red);
  background-image: url(../img/main-logo.svg);
  background-repeat: no-repeat;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}


.footer-contacts {
  color: var(--basic-light-gray);
}


.footer-contacts a {
  color: var(--basic-light-gray);
}

.footer-navigation {
  list-style: none;

}

.footer-navigation a {
  color: var(--basic-light-blue);
}

.footer-navigation-item a:hover {
  text-decoration: underline;
}

.footer-navigation-item a:active {
  opacity: 0.5;
}

.product-groups-list {
  list-style: none;

}

.product-groups-list a {
  color: var(--basic-gold);
}

.product-groups-item a:hover {
  text-decoration: underline;
}

.product-groups-item a:active {
  opacity: 0.5;
}

/* Footer-bottom */

.footer-bottom {
  font-size: 16px;
  line-height: 18px;

  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
}

.social-list {
  list-style: none;
}

.social-list a {
  color: var(--basic-white);
}

.social-button a:hover,
.social-button a:active {
  color: var(--basic-red);
}

.communication a {
  color: var(--basic-gold);
}

.communication a:hover {
  text-decoration: underline;
}

.communication a:active {
  color: var(--basic-red);
}

.breadcrumbs-item a {
  text-decoration: none;
  color: var(--basic-black);
}

.breadcrumbs-list {
  font-family: 'PT Sans', Arial, sans-serif;
  list-style: none;
  text-transform: uppercase;

  color: var(--basic-black);
}

/* Catalog */
/* Catalog subtitle */

.subtitle h2 {
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;

  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
  font-weight: 400;
  background-color: var(--special-light-blue);
}

/* Filter */

.sort-title {
  font-family: 'PT Sans';
  font-size: 13px;
  background-color: var(--basic-beige-darknes);
  text-transform: uppercase;
}

.sort-title p {
  color: var(--basic-black);
}

.sort-title a {
  color: var(--basic-black);
}

.sort-list {
  text-decoration: none;
  list-style: none;
}

.sort-active a {
  color: var(--basic-red);

}

.quiet a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
  opacity: 0.3;

}

.sort-item a:hover,
.quiet a:hover {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}

.sort-item a:active,
.quiet a:active {
  color: var(--basic-red);
  opacity: 1;
}

.choice-price legend,
.choice-brand legend,
.choice-power legend {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.show-btn {
  padding: 10px 79px 10px 79px;

  font-family: 'PR Sans', 'Arial' sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
}

/* Pages field */

.page-list {
  display: flex;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.page-active {
  background-color: var(--basic-red);
  color: var(--basic-white);
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
  border: 1px solid var(--basic-red);
}

.page-link {
  margin-left: 10px;
  padding: 10px 15px 10px 15px;
  color: var(--basic-black);
  border-radius: 2px;
  border: 1px solid var(--special-gray-border);
}

.last-page {
  padding: 10px 32px 10px 32px;
}

.page-link:active,
.page-active:active {
  border-color: var(--basic-red);
}

/* Article */

.article {
  position: absolute;
  background-color: var(--basic-light-blue);
  width: 100%;
}

.article h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.article p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
}
