
/* Fonts */

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url(../fonts/cuprumbold.woff2) format('woff2'),
    url(../fonts/cuprumbold.woff);
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url(../fonts/cuprumbolditalic.woff2) format('woff2'),
    url(../fonts/cuprumbolditalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url(../fonts/cuprumitalic.woff2) format('woff2'),
    url(../fonts/cuprumitalic.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsans.woff2) format('woff2'),
  url(../fonts/ptsans.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsansbold.woff2) format('woff2'),
    url(../fonts/ptsansbold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-dark-blue: #293449;
  --basic-blue: #32425C;
  --basic-grey: #3d546f;
  --basic-sky-blue: #3BBCE3;
  --basic-green: #63A63E;
  --basic-fern: #8ED78F;
  --basic-light-blue: #F1F5F7;
  --basic-white: #ffffff;
  --basic-black-rgb: 0, 0, 0;
  --basic-white-rgb: 255, 255, 255;
  --basic-greylight-rgb: 197, 197, 197;
  --basic-graylight: #c5c5c5;
  --basic-orange: #FFBF47;
  --basic-pink: #DC91D8;
  --basic-dark-orange: #FFC047;
  --basic-black: #000000;
  --basic-black-rgb: 0, 0, 0;
  --basic-beige: #F9F5F0;
  --basic-gray: #A9A9A9;
  --basic-gold: #FFD180;
  --basic-light-gray: #F3F7F9;
  --basic-dark-red: #BA2732;
  --basic-beige-darknes: #f7f3ec;
  --basic-light-green: #0ccb76;

  --special-green: #5fbb2d;
  --special-light-blue: #F2F6F8;
  --special-black-active: #161D29;
  --special-gray-active: #c5c5c5;
  --special-blue-active: #1d2739;
  --special-graylight-active: 169, 169, 169;
  --special-red: #ca2c37;
  --special-green-active: #518534;
  --special-green-shadow: #367315;
  --special-gray-border: #e5e5e5;
  --special-range-gray: #d7dcde;
  --special-toggle-dot-color: #ababab;
  --special-toggle-shadow-color: #cfcfcf;
  --special-shadow-color: #293449;
  --special-shadow-inset-color: #405069;
  --special-gray-modal-bg: #f4f4f4;
  --special-gray-checkbox-active: #b5b5b5;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  list-style: none;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-catalog {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  list-style: none;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

/* Header */

.main-header {
  background-color: var(--basic-light-blue);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

/* Top Header*/

.top-header {
  min-height: 42px;
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  text-align: center;
  margin: 0 0 43px 0;
}

.top-header-area {
  display: grid;
  grid-template-columns: 220px 270px 1fr;
  grid-template-rows: 42px;

  height: 42px;
  align-items: center;
}

.main-logo {
  line-height: 0;
  box-sizing: border-box;
  height: 51px;
  width: 220px;
  margin: 0;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  grid-column: 1 / 2;
  margin: 0;
}

.main-logo img {
  padding: 16px 57px 16px 56px;
}

.search-form {
  width: min-content;
}

.main-logo:active {
  background-color: var(--basic-dark-red);
}

.search-form input {
  background-color: var(--basic-dark-blue);
  border: none;
  outline: none;
  width: 271px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 42px;
  font: inherit;
}

.user-search-field {
  position: relative;
}

.user-search-field label {
  position: absolute;
  background-image: url(../img/icon-search.svg);
  height: 17px;
  width: 17px;
  left: 17px;
  top: 12px;
  opacity: 0.3;
}

.search::placeholder {
  color: var(--basic-white);
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  opacity: 1;
}

input.search:hover + label {
  opacity: 1;
}

input.search:focus + label {
  position: absolute;
  background-image: url(../img/icon-search-focus.svg);
  height: 17px;
  width: 17px;
  left: 17px;
  top: 12px;
  opacity: 1;
}

.search-form input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.header-order-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.bookmarks-item:active,
.basket-item:active {
  background-color: var(--special-black-active);
  color: rgba(var(--basic-white-rgb), 0.5);
  height: 100%;
}

.bookmarks-item {
  position: relative;
}

.basket-item {
  position: relative;
}

.basket-item-full {
  position: relative;
}

.bookmarks {
  color: var(--basic-white);
  display: block;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 38px;
  padding-left: 43px;
}

.basket-null {
  color: var(--basic-white);
  display: block;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 27px;
  padding-left: 35px;
  text-align: center;
}

.order-confirm {
  color: var(--basic-white);
  display: block;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 19px;
}

.basket-full {
  background-color: var(--basic-red);

  color: var(--basic-white);
  display: block;
  padding-left: 35px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 8px;

  text-align: center;
}

.bookmarks::before {
  content: "";
  background-image: url(../img/icon-bookmark.svg);
  position: absolute;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket-null::before {
  content: "";
  background-image: url(../img/icon-basket.svg);
  position: absolute;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket-full::before {
  content: "";
  background-image: url(../img/icon-basket.svg);
  position: absolute;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 12px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket-null:hover::before {
  opacity: 1;
}

.basket-null:active::before,
.basket-full:active::before {
  opacity: 0.3;
}

.bookmarks:hover::before {
  opacity: 1;
}

.bookmarks:active::before,
.basket-null:active::before {
  opacity: 0.3;
}

.basket-null:active,
.bookmarks:active {
  color: rgba(var(--basic-white-rgb), 0.5);
}

.order-confirm-item {
  background-color: var(--basic-green);

}

.basket-full:active {
  background-color: var(--basic-dark-red);
  color: rgba(var(--basic-white-rgb), 0.5);
}

.order-confirm:hover,
.order-confirm:focus {
  background-color: var(--special-green);
}

.order-confirm:active {
  color: rgba(var(--basic-white-rgb), 0.5);
}

/* Mid Header*/

.mid-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title h1 {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0 0 0 30px;
}

.title p {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0 0 0 30px;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: 23px;
}

.contacts-catalog {
  margin-left: 40px;
}

.contacts a {
  box-sizing: border-box;
  width: 270px;
  height: 45px;
  padding: 4px 18px 5px 71px;
  margin: 3px 0 0 3px;
  position: relative;

  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  border: 3px solid var(--basic-white);
  color: var(--basic-red);
}

.contacts a::before {
  content: "";
  background-image: url(../img/icon-phone.svg);
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  left: 36px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contacts p {
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue);
  margin: 3px 0 0 3px;
}

.account-field {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 2px;
  justify-content: flex-start;
}

.login-link,
.registration-link {
  background-color: var(--basic-white);
}

.login-link {
  font-size: 21px;
  line-height: 21px;
  display: block;
  position: relative;
  box-sizing: border-box;
  text-align: center;
  min-height: 45px;
  width: 121px;
  padding-top: 12px;
  padding-left: 20px;
  margin-right: 10px;
}

.login-link-icon {
  padding-right: 7px;
  position: absolute;
  left: 19px;
  top: 14px;
}

.login-link:hover path,
.login-link:focus path {
  fill: var(--basic-grey);
}

.login-link:active path {
  opacity: 0.3;
}

.registration-link {
  padding: 13px 24px;
}

.login-link:hover {
  color: var(--basic-red);
}

.registration-link:hover {
  color: var(--basic-red);
}

.login-link:active,
.registration-link:active {
  color: var(--special-gray-active);
}

.account-field a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

/* Account-field in Catalog */

.catalog-account-field {
  display: block;
  width: 300px;
  text-align: center;
}

.account-item {
  position: relative;
  box-sizing: border-box;
  width: 300px;
  background-color: var(--basic-white);
  min-height: 45px;
  padding-top: 12px;
  padding-bottom: 9px;
  margin-top: 3px;
  padding-left: 30px;
  padding-right: 30px;
}

.account-item p {
  padding: 0;
  margin: 0;
}

.account-name a {
  text-decoration: none;
  display: inline-block;
  padding-right: 0px;
}

.user-bar {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.icon-userpic {
  position: absolute;
  left: 15px;
  top: 13px;
}

.icon-logout {
  position: absolute;
  right: 17px;
  top: 14px;
}

.user-bar:active {
  opacity: 0.3;
}

.exit-icon-link:hover path,
.profile-icon-link:hover path {
  fill: var(--basic-grey);
}

.exit-icon-link:active path,
.profile-icon-link:active path {
  opacity: 0.3;
}

.account-details {
  display: flex;
  justify-content: space-around;
  margin: 7px 0 0 19px;
  padding: 0 29px 0 10px;
  position: relative;
}

.account-details::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 115px;

  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--basic-blue);
}

.account-details a {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-blue);
}

.account-details a:hover {
  color: var(--basic-red);
}

.account-details a:active {
  opacity: 0.3;
  color: var(--basic-blue);
}

/* Bottom Header */

.bottom-header {
  background: var(--basic-blue);
  color: var(--basic-white);
  box-shadow: inset 0px -5px 0px var(--basic-dark-blue);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  padding-right: 7px;
  padding-left: 27px;
  box-sizing: border-box;

  list-style: none;
  font-style: normal;
  width: 940px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 60px;
}

.navigation-item a {
  color: var(--basic-white);
  display: block;
  padding-top: 17px;
  padding-bottom: 19px;
  padding-right: 32px;
  padding-left: 25px;
}

.navigation-item:hover,
.navigation-item a:hover {
  background-color: var(--basic-dark-blue);
}

.navigation-item a:active {
  background-color: var(--special-blue-active);
  color: rgba(var(--basic-white-rgb), 0.5);
}

/* Body */

.main-container {
  margin-top: 60px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Preview */

.preview {
  margin: 0 0 60px 0;
  padding: 0;
}

.preview-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
}

.preview-item:first-child {
  background-color: var(--basic-orange);
}

.preview-item:first-child::before {
  content: "";
  background-image: url(../img/preview-icon-1.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 44px;
  height: 65px;
  top: 31px;
  right: 43px;
}

.preview-item:nth-child(2) {
  background-color: var(--basic-sky-blue);
}

.preview-item:nth-child(2)::before {
  content: "";
  background-image: url(../img/preview-icon-2.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 75px;
  height: 61px;
  top: 34px;
  right: 31px;
}

.preview-item:nth-child(3) {
  background-color: var(--basic-pink);
}

.preview-item:nth-child(3)::before {
  content: "";
  background-image: url(../img/preview-icon-3.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 78px;
  height: 62px;
  top: 31px;
  right: 31px;
}

.preview-item:nth-child(4) {
    background-color: var(--basic-fern);
   grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.preview-item:nth-child(4)::before {
  content: "";
  background-image: url(../img/preview-icon-5.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 59px;
  height: 72px;
  top: 26px;
  right: 45px;
}

.preview-item:nth-child(5) {
  background-color: var(--basic-dark-orange);
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.preview-item:nth-child(5)::before {
  content: "";
  background-image: url(../img/preview-icon-4.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 78px;
  height: 63px;
  top: 32px;
  right: 31px;
}

.preview-item {
  position: relative;
  width: 300px;
  padding-bottom: 21px;

  line-height: 20px;
  font-style: normal;
  font-size: 24px;

  color: var(--basic-white);
}

.preview-item h3 {
  padding-left: 23px;
  font-family: 'Cuprum', 'Arial' sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 12px;
}

.preview-item a {
  margin-left: 23px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: normal;

  color: var(--basic-white);
  text-transform: uppercase;
}

.preview-link {
  display: inline-block;
  height: 38px;
  width: 135px;
  margin-bottom: 21px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 10px;
  background-color: rgba(var(--basic-white-rgb), 0.3);
}

.preview-link:hover {
  background-color: rgba(var(--basic-greylight-rgb), 0.3);
}

.preview-link:active {
  background-color: rgba(var(--special-graylight-active), 0.3);
}

/* NEW Bookmark*/

.new::after {
  content: url(../img/new-icon.svg);
  position: absolute;
  width: 70px;
  height: 70px;
  right: 0;
  top: 0;
}

/* Slider */

.slider-item:nth-child(2) {
  display: none;
}

.main-slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
  position: relative;
}

.main-slider-item {
  position: relative;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
}

.main-slider-title h3 {
  color: var(--basic-white);
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  padding: 22px 0 0 24px;
  margin: 0;
}

.main-slider-title p {
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
  padding-left: 24px;
  padding-top: 6px;
}

.main-slider-title {
  position: absolute;
  background-color: rgba(var(--basic-black-rgb), .25);
  min-height: 104px;
  top: 0;
  left: 0;
  width: 100%;
}

.main-slider-item .button {
  position: absolute;
  left: 24px;
  top: 200px;
}

.slider-arrow {
  position: absolute;
  width: 23px;
  height: 41px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.previous-slide {
  background-image: url(../img/slider-arrow.svg);
  top: 122px;
  left: 24px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.next-slide {
  background-image: url(../img/slider-arrow.svg);
  transform: rotate(180deg);
  right: 20px;
  top: 121px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.slider-dots {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30px;
  bottom: 37px;
  left: 295px;
  background-position: 0 0;

}

.slider-circle {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--basic-white);
  border-radius: 50%;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.slider-arrow:focus,
.slider-circle:focus {
  outline: solid;
}

.current {
  background-color: var(--basic-red);
  border: 2px solid var(--basic-white);
}

.button {
  width: 192px;
  padding-top: 11px;
  padding-bottom: 10px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;

  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button:hover {
  background-color: var(--special-red);
}

.button:active {
  background-color: var(--basic-dark-red);
}

/* Product Card*/

.product-card {
  width: 220px;
  min-height: 318px;
  border: 1px solid #EAEAEA;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-name h3 {
  order: 0;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-black);

  padding: 0;
  margin: 13px 0 0 0;
}

.product-container {
  display: flex;
  align-items: center;
  order: -1;
  width: auto;
  height: 164px;
  justify-self: center;
  position: relative;
}

.product-image {
  object-fit: contain;
  height: auto;
}

.img-9000 {
  margin-top: 7px;
  margin-left: 1px;
}

.img-3000 {
  margin-right: 12px;
  margin-top: 1px;
}

.img-6000 {
  margin-top: 3px;
  margin-right: 9px;
}

.img-2000 {
  margin-top: 1px;
  margin-right: 12px;
}

.brand-item:hover,
.product-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.brand-item:active {
  opacity: 0.5;
}

.product-popup {
  visibility: hidden;
  position: absolute;
}

.product-card:hover img {
  visibility: hidden;
}

.product-card:hover .product-popup {
  display: flex;
  flex-direction: column;
  visibility: visible;
  position: absolute;
  margin: 0 auto;
  padding: 0;
  top: 38px;
}

.product-card:focus-within img {
  visibility: hidden;
}

.product-card:focus-within .product-popup {
  visibility: visible;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  top: 38px;
}

.sale-price {
  color: var(--basic-gray);
  text-decoration: line-through;
  order: 2;
  margin-top: 5px;
  font-size: 17px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
}

.product-price {
  position: relative;
  order: 3;
  margin: auto 0 21px 13px;
  padding: 9px 16px 0 4px;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  font-family: 'PT Sans', Arial, 'sans-serif';
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
}

.price-bg {
  display: block;
  box-sizing: border-box;
  width: 141px;
  height: 38px;
  background-color: var(--basic-red);
  background-image:
    linear-gradient(225deg,#fff 14px,transparent 14px),
    linear-gradient(315deg,#fff 14px,transparent 14px);
  border-radius: 4px 0 0 4px;
}

.buy-button {
  position: relative;
}

.product-popup a:first-of-type {
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  position: relative;

  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  border-radius: 2px;
  background-color: var(--basic-green);
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--special-green-shadow);
}

.product-popup a:nth-of-type(2) {
  width: 135px;
  padding-top: 7px;
  padding-bottom: 7px;
  box-sizing: border-box;

  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  border-radius: 2px;
  background-color: var(--basic-white);
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
}

.product-popup a:first-of-type::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/icon-cart-for-card.svg);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 10px;
  left: 22px;
  opacity: 0.3;
}

.product-popup a:first-of-type:hover {
  background-color: var(--special-green);
}

.product-popup a:first-of-type:active {
  background-color: var(--special-green-active);
}

.product-popup a:nth-of-type(2):hover {
  border: 3px solid var(--basic-blue);
}

.product-popup a:nth-of-type(2):active {
  opacity: 0.5;
}

/* Popular goods title */

.popular-goods {
  margin-bottom: 50px;
}

.popular-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 89px;
  box-sizing: border-box;
  background-color: var(--basic-beige);
  margin-bottom: 19px;

  align-content: center;
}

.popular-button {
  display: block;
  box-sizing: border-box;
}

.popular-title-goods h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  padding: 5px 0 0 28px;
  margin: 0;
}

.popular-title-brands h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  padding: 5px 0 0 28px;
  margin: 0;
}

.goods-button .button {
  display: block;
  min-width: 192px;
  height: 38px;
  margin-right: 14px;
  text-align: center;
}

.brands-button .button {
  display: block;
  min-width: 192px;
  height: 38px;
  margin-right: 19px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.goods-button {
  margin-bottom: 5px;
}

.brands-button {
  margin-bottom: 5px;
}

/* Popular goods area */

.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  list-style: none;
  column-gap: 20px;
  row-gap: 18px;
  padding: 0;
  margin-bottom: 47px;
  margin-top: 0px;
}

.popular-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* Popular brands */

.popular-brands {
  margin-bottom: 70px;
}

.brand-item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;

  width: 220px;
  height: 145px;
  list-style: none;
  border: 1px solid #EAEAEA;

}

.brand-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
  padding: 0;
}

.brand-link img {
  object-fit: contain;
  max-width: 100%;
}

.brand-item:nth-child(1) .brand-link {
  margin-top: 6px;
}

.brand-item:nth-child(2) .brand-link {
  margin-top: 1px;
}

.brand-item:nth-child(3) .brand-link {
  margin-top: 2px;
}

.brand-item:nth-child(4) .brand-link {
  margin-top: 4px;
}

.brand-item:nth-child(5) .brand-link {
  margin-top: 8px;
  margin-left: 5px;
}

.brand-item:nth-child(6) .brand-link {
  margin-top: 5px;
  margin-right: 3px;
}

.brand-item:nth-child(7) .brand-link {
  margin-top: 7px;
  margin-left: 2px;
}

.brand-item:nth-child(8) .brand-link {
  margin-top: 7px;
}

/* Services area */

.services {
  background-color: var(--basic-light-blue);
  padding-bottom: 99px;
}

.services-title {
  padding-top: 65px;
  padding-bottom: 56px;
}

.services-button-area {
  color: var(--basic-blue);
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 240px;
}

.services-button-area::after {
  content: "";
  position: absolute;
  background-image: url(../img/slider-shadow.svg);
  background-repeat: no-repeat;
  width: 10px;
  height: 379px;
  right: 0;
  top: -45px;
  color: black;
}

.services-slider li {
  display: inline-block;
  width: 240px;
}

.about-services {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 20px;
}

.services h2 {
  margin: 0 0 25px 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  color: var(--basic-black);
  text-transform: uppercase;
}

.services h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  color: var(--basic-blue);
}

.delivery h3::before {
  content: "";
  background-image: url(../img/delivery.png);
  position: absolute;
  width: 468px;
  height: 261px;
  background-position: 0 0;
  right: 0;
  top: 20px;
}

.gurantee h3::before {
  content: "";
  background-image: url(../img/gaurantee.png);
  width: 389px;
  height: 285px;
  background-position: 0 0;
  right: 0;
  top: 20px;
}

.credit h3::before {
  content: "";
  background-image: url(../img/credit.png);
  width: 465px;
  height: 285px;
  background-position: 0 0;
  right: 0;
  top: 20px;
}

.services p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  color: var(--basic-black)
}

.services-button {
  padding: 14px 0 18px 22px;
  width: 240px;
  text-align: left;

  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  box-sizing: border-box;
  border: 0;
  outline: 0;

  cursor: pointer;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.services-item:nth-child(2) .services-button,
.services-item:last-child .services-button {
  box-shadow:
    inset 0px 1px 0px var(--special-shadow-inset-color),
    0px 1px 0px var(--special-shadow-color);
}

.active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
  box-shadow: none;
}

.services-button:hover:not(.active),
.services-button:focus:not(.active) {
  background-color: var(--basic-dark-blue);
}

.services-button:active:not(.active) {
  color: var(--basic-blue);
  background-color: var(--basic-white);
  box-shadow: none;
}

.services-slider {
  position: relative;
}

.services-slide-title {
  margin: 0 0 30px 0;
  padding: 0;
}

.services-slider p {
  display: block;
  width: 280px;
  z-index: 1;
}

/* About company */

.about-company {
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 1fr 300px;
  padding: 0 10px;
  column-gap: 100px;
  margin-top: 70px;
  margin-bottom: 69px;
}

.logistic-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logistic-info h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-top: 2px;
  margin-bottom: 15px;
}

.logistic-info p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 9px;
}

.logistic-info p:nth-of-type(2) {
  margin-top: 12px;
  margin-bottom: 3px;
}

.company-list {
  display: block;
  margin: 0 0 6px 0;
  padding: 0;

  list-style: none;
  font-size: 18px;
}

.company-item {
  padding-left: 38px;
  padding-bottom: 12px;
  list-style-type: none;
  position: relative;
}

.company-item::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 10px;
  width: 25px;
  border-bottom: 2px solid var(--basic-red);
}

.more-info-button {
  width: 220px;
  box-sizing: border-box;
  min-height: 38px;
  padding-top: 11px;
}

.about-contacts {
  color: var(--basic-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-write-us {
  width: 300px;
  min-height: 38px;
  padding-bottom: 9px;
}

.about-contacts h2 {
  margin: 0 0 15px 0;
  font-weight: 400;
  margin-top: 2px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-map-container {
  margin-bottom: 17px;
}

.about-contacts p {
  margin-bottom: 32px;
  margin-top: 9px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* Footer */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.footer-top {
  background-color: var(--basic-blue);
}

.footer-top-wrapper {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: min-content min-content;
}

.footer-logo {
  height: 68px;
  width: 220px;
  box-sizing: border-box;
}

.footer-contacts {
  color: var(--basic-light-gray);
  grid-column: 1 / 2;
  padding-bottom: 54px;
}

.footer-contacts a {
  color: var(--basic-light-gray);
  margin-left: 3px;
}

.footer-contacts p {
  margin-left: 3px;
  margin-top: 9px;
  margin-bottom: 0;
}

.footer-navigation {
  list-style: none;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  flex-wrap: wrap;
  margin-top: 38px;
  margin-left: auto;
  margin-bottom: 20px;
  padding: 0;
}

.footer-navigation a {
  color: var(--basic-light-blue);
  padding-right: 58px;
}

.footer-navigation-item:nth-child(5n) a {
  padding-right: 0;
}

.footer-navigation-item a:hover {
  text-decoration: underline;
}

.footer-navigation-item a:active {
  opacity: 0.5;
}

.product-groups-list {
  list-style: none;
  grid-column: 2 / 3;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 14px;
  margin-left: auto;
}

.product-groups-list a {
  color: var(--basic-gold);
  padding-right: 58px;
}

.product-groups-item:nth-child(4n) a {
  padding-right: 0;
}

.product-groups-item a:hover {
  text-decoration: underline;
}

.product-groups-item a:active {
  opacity: 0.5;
}

/* Footer-bottom */

.footer-bottom {
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
}

.footer-bottom-wrapper {
  display: grid;
  grid-template-columns: 1fr 200px 1fr;
  column-gap: 10px;

  font-size: 16px;
  line-height: 18px;
  padding-top: 20px;
  padding-bottom: 35px;
}

.copyright {
  width: 360px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 13px;
  margin-left: 19px;
}

.social-list a {
  color: var(--basic-white);
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  color: inherit;
  margin-right: 1px;
}

.social-button:hover path:first-child,
.social-button:focus path:first-child {
  fill: var(--basic-red);
}

.social-button a:hover,
.social-button a:active {
  color: var(--basic-red);
}

.communication {
  display: grid;
  grid-template-columns: 1fr 100px;
  column-gap: 50px;
}

.communication p {
  justify-self: end;
  padding-right: 13px;
  margin-top: 15px;
}

.communication a {
  color: var(--basic-gold);
}

.communication a:hover {
  text-decoration: underline;
}

.communication a:active {
  color: var(--basic-red);
}

/* Catalog */
/* Catalog subtitle */

.main-catalog-grid {
  display: grid;
  grid-auto-columns: 220px 1fr;
  column-gap: 20px;
}

.goods-filter-area {
  grid-column: 1 / 2;
}

.goods-choice-area {
  grid-column: 2 / 3;
}

/* Breadcrumbs */

.breadcrumbs .container {
  margin: 21px 0 20px 0;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.7em;
  padding: 0;
  margin: 20px 0 20px 0;

  font-family: 'PT Sans', Arial, sans-serif;
  list-style: none;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.breadcrumbs-list li {
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-list li::after {
  content: "";
  position: absolute;
  background-image: url(../img/icon-right-small.svg);
  width: 8px;
  height: 12px;
  top: 4px;
  right: -25px;
}

.breadcrumbs-item:last-child {
  margin: 0;
}

.breadcrumbs-item:last-child::after{
  display: none;
}

.breadcrumbs-item a {
  font-size: 13px;
  line-height: 18px;
  text-decoration: none;
  color: var(--basic-black);
}

.subtitle h2 {
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
  font-weight: 400;
  background-color: var(--special-light-blue);
}

/* Sort area */

.sort-title-area {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 20px;
}

.sort-title {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  background-color: var(--basic-beige-darknes);
  text-transform: uppercase;
  margin: 0;
  min-height: 38px;
  border-radius: 2px;
  margin-bottom: 28px;
}

.main-filter {
  display: grid;
  grid-template-columns: 220px;
  grid-template-rows: 38px min-content;
  row-gap: 13px;
  margin-bottom: 100px;
}

.main-filter fieldset {
  padding: 0;
  border: none;
}

.main-filter legend {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-filter ul {
  padding: 0;
}

.main-filter button {
  font-family: 'PT Sans', 'Arial', sans-serif;
  line-height: 18px;
  font-weight: 400;
  font-size: 13px;
}

/* Range */

.choice-price {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  margin-bottom: 25px;
}

.choice-price::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 1px;
  background-color: var(--basic-black);
  opacity: 0.1;
  bottom: -26px;
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-beige-darknes);
  border-radius: 2px;
}

.range-controls .scale {
  height: 2px;
  background: var(--special-range-gray);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--basic-light-green);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-toggle-dot-color);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--special-toggle-shadow-color);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls input {
  width: 95px;
  height: 38px;
  padding: 0px;

  text-align: center;
  color: var(--basic-black);
  border: none;
  border-radius: 2px;
  background: var(--basic-beige-darknes);
  font-family: inherit;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;

}

.min-price input[type='number'],
.max-price input[type='number'] {
  -moz-appearance:textfield;
}

.min-price input::-webkit-outer-spin-button,
.min-price input::-webkit-inner-spin-button,
.max-price input::-webkit-outer-spin-button,
.max-price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Checkbox */

.filter-option {
  margin-bottom: 17px;
  margin-left: 34px;
}

.filter-option:last-child {
  margin-bottom: 15px;
}

.filter-radio {
  margin-top: 0px;
  margin-bottom: 23px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option:hover label::before,
.filter-option:focus-within label::before,
.filter-input-checkbox:checked:hover + label::after,
.filter-input-checkbox:checked:focus + label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.5;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0px;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  opacity: 0.7;
}

.filter-input-checkbox:checked + label::before {
  visibility: hidden;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -36px;
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  opacity: 0.7;
}

.choice-brand {
  padding-top: 3px;
  position: relative;
  margin-bottom: 17px;
}

.choice-brand::after {
  content: "";
  position: absolute;
  width: 220px;
  height: 1px;
  background-color: var(--basic-black);
  opacity: 0.1;
  bottom: -13px;
}

.choice-brand-list {
  font-family: 'PT Sans', 'Arial', sans-serif;
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
  font-size: normal;
  line-height: 19px;
  margin-top: 16px;
  margin-bottom: 0;
}

.choice-brand legend {
  padding-top: 3px;
}

.choice-brand label {
  padding-top: 3px;
}

/* Radio */

.choice-power {
  margin-bottom: 6px;
}

.power-list {
  font-family: 'PT Sans', 'Arial', sans-serif;
  list-style: none;
  text-transform: uppercase;
  font-size: 15px;
  font-size: normal;
  line-height: 19px;
  margin-top: 23px;
  margin-bottom: 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 19px;
  height: 19px;
  border: 3px solid var(--basic-graylight);
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -28px;
  width: 9px;
  height: 9px;
  background-color: var(--basic-graylight);
  border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after,
.filter-input-radio:checked:focus + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -28px;
  width: 9px;
  height: 9px;
  background-color: var(--special-gray-checkbox-active);
  border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -2px;
  width: 19px;
  height: 19px;
  border: 3px solid var(--special-gray-checkbox-active);
  border-radius: 50%;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label {
  opacity: 0.5;
}

/* Sort catalog area */

.sort-list {
  display: grid;
  grid-template-columns: 1fr 1fr 169px 71px;
  grid-template-rows: 38px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.sort-item {
  text-align: center;
  padding-right: 15px;

}

.sort-item:first-child {
  padding-right: 23px;
}

.arrows-area {
  text-align: end;
}

.increase-button {
  padding-right: 18px;
}

.decrease-button {
  padding-right: 16px;
}

.sort-title p {
  color: var(--basic-black);
  margin: 0;
  display: inline-block;
  padding-top: 7px;
  padding-left: 20px;
}

.sort-title a {
  color: var(--basic-black);
}

.sort-list {
  text-decoration: none;
  list-style: none;
}

.sort-active a,
.sort-active path {
  color: var(--basic-red);
  fill: var(--basic-red);
}

.quiet a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
  opacity: 0.3;
}

.sort-item a:hover,
.quiet a:hover {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}

.increase-button path:hover,
.decrease-button path:hover {
  fill: var(--basic-black);
}

.increase-button path:active,
.decrease-button path:active {
  fill: var(--basic-red);
}

.sort-item a:active,
.quiet a:active {
  color: var(--basic-red);
  opacity: 1;
}

.show-btn {
  padding: 9px 79px 9px 79px;
  margin-top: 4px;
  min-height: 38px;
  cursor: pointer;
  box-sizing: border-box;

  text-transform: uppercase;

  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
}

/* Pagination area */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 49px;
  padding: 0;
  box-sizing: border-box;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.page-link {
  display: block;
  box-sizing: border-box;
  padding: 9px 0;
  width: 38px;

  text-align: center;
  text-transform: uppercase;

  color: var(--basic-black);
  border-radius: 2px;
  border: 1px solid var(--special-gray-border);
}

.next-page {
  width: 140px;
}

.page-link-active {
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: 1px solid var(--basic-red);
}

.page-link:not(.page-link-active):hover {
  border-color: var(--basic-graylight);
}

.pagination-item .page-link:active {
  border-color: var(--basic-red);
}

/* Article */

.article {
  width: 100%;
  margin: 0;
  padding-top: 65px;

  background-color: var(--basic-light-blue);
}

.article h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 25px;
}

.article p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;

  margin: 0;
  padding-bottom: 69px;
}

/* Modal Feedback */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;

  color: var(--basic-black);
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  box-sizing: border-box;
  box-shadow: 0px 4px 20px rgba(var(--basic-black-rgb), .15);
}

.modal-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.modal-feedback-form {
  width: 620px;
  height: 430px;
  display: none;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
}

.feedback-form p {
  margin: 0;
}

.feedback-form input {
  width: 220px;
  height: 38px;
  margin-bottom: 13px;
  margin-top: 11px;
  padding-left: 12px;
  padding-right: 12px;
  box-sizing: border-box;

  font-size: 13px;
  border-radius: 2px;
  border: 2px solid var(--special-gray-active);
}

.input-name-container {
  padding-left: 80px;
}

.input-email-container {
  padding-right: 80px;
}

.input-feedback-container {
  width: 100%;
  padding: 0 80px;
  margin-top: 13px;
}

.feedback-textarea {
  width: 460px;
  height: 114px;
  margin-bottom: 28px;
  margin-top: 11px;
  resize: none;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  box-sizing: border-box;

  font-size: 13px;
  border-radius: 2px;
  border: 2px solid var(--special-gray-active);
}

.modal-button-bg {
  min-height: 112px;
  width: 100%;
  padding: 0;
  background-color: var(--special-gray-modal-bg);
}

.modal-button {
  width: 460px;
  min-height: 38px;
  padding: 0;
  border: none;
  margin: 38px 0;
}

/* Modal close */

.modal-close {
  position: absolute;
  cursor: pointer;
  top: 14px;
  right: 11px;
  border: none;
  width: 21px;
  height: 21px;

  background-image: url(../img/icon-close.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: transparent;
}

/* Modal Map*/

.modal-map {
  display: none;
  width: 943px;
  height: 449px;
}

.modal-map iframe {
  border: none;
}

/* Catalog modal purchase */

.modal-purchase {
  width: 620px;
  height: 282px;
 display: none;
}

.modal-purchase-content {
  width: 620px;
  height: 216px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 66px;
}

.notification-area::before {
  content: "";
  background-image: url(../img/icon-modal-mark.svg);
  background-repeat: no-repeat;
  top: 48px;
  left: 81px;
  position: absolute;
  width: 66px;
  height: 66px;
}

.notification-area p {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.modal-button-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-button-bg button {
  padding: 0;
  min-height: 38px;
  border: none;
  margin-right: 10px;
}

.modal-continue-button {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.modal-button-bg button:last-child {
  margin-right: 0;
}

.modal-continue-button:hover {
  background-color: var(--special-green);
  color: var(--basic-white);
}

.modal-continue-button:active {
  color: var(--basic-white);
  background-color: var(--special-green-active);
}
