
/* Fonts */

@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/cuprum.woff2') format('woff2'),
    url('../fonts/cuprum.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cuprum';
  src: url(../fonts/cuprumbold.woff2) format('woff2'),
    url(../fonts/cuprumbold.woff);
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Cuprum';
  src: url(../fonts/cuprumbolditalic.woff2) format('woff2'),
    url(../fonts/cuprumbolditalic.woff) format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
  font-family: 'Cuprum';
  src: url(../fonts/cuprumitalic.woff2) format('woff2'),
    url(../fonts/cuprumitalic.woff) format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsans.woff2) format('woff2'),
  url(../fonts/ptsans.woff) format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url(../fonts/ptsansbold.woff2) format('woff2'),
    url(../fonts/ptsansbold.woff) format('woff');
  font-weight: 700;
  font-style: normal;
  }

/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-dark-blue: #293449;
  --basic-blue: #32425C;
  --basic-sky-blue: #3BBCE3;
  --basic-green: #63A63E;
  --basic-fern: #8ED78F;
  --basic-light-blue: #F1F5F7;
  --basic-white: #ffffff;
  --basic-white-rgb: 255, 255, 255;
  --basic-greylight-rgb: 197, 197, 197;
  --basic-orange: #FFBF47;
  --basic-pink: #DC91D8;
  --basic-dark-orange: #FFC047;
  --basic-black: #000000;
  --basic-black-rgb: 0, 0, 0;
  --basic-beige: #F9F5F0;
  --basic-gray: #A9A9A9;
  --basic-gold: #FFD180;
  --basic-light-gray: #F3F7F9;
  --basic-dark-red: #BA2732;
  --basic-beige-darknes: #f7f3ec;

  --special-green: #5fbb2d;
  --special-light-blue: #F2F6F8;
  --special-black-active: #161D29;
  --special-gray-active: #c5c5c5;
  --special-blue-active: #1d2739;
  --special-graylight-active: 169, 169, 169;
  --special-red: #CA2C37;
  --special-green-active: #518534;
  --special-green-shadow: #367315;
  --special-gray-border: #e5e5e5;
}

/* Global */

.page {
  height: 100%;
}

.page-body {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  /*
  min-height: 100%;*/
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.page-catalog {
  margin: 0;
  padding: 0;

  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  list-style: none;


  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

/* Header */

.main-header {
  background-color: var(--basic-light-blue);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

/* Top Header*/

.top-header {
  min-height: 42px;
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
  text-align: center;

}

.top-header-area {
  display: grid;
  grid-template-columns: 220px 270px 150px 150px 150px;
  grid-template-rows: 42px;
  margin: 0;
  height: 42px;
  align-items: center;
}

.main-logo {
  line-height: 0;
  width: 220px;
  margin: 0;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  grid-column: 1 / 2;
  margin: 0;
}

.main-logo img {
  padding: 12px 57px 17px 55px;
}

/*

.user-bar {
  margin: 0;
  grid-column: 2 / 3;
  display: flex;
}
*/
.search-form {
  width: min-content;
}

.main-logo:active {
  background-color: var(--basic-dark-red);
}

.search-form input {
  background-color: var(--basic-dark-blue);
  border: none;
  width: 270px;
  height: 42px;
  padding: 0;
}

.search-form input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search-form input:hover {
  background-color: var(--basic-white);
}

.bookmarks-item:active,
.basket-item:active {
  background-color: var(--special-black-active);
  color: rgba(var(--basic-white-rgb), 0.5);
  height: 100%;
}

.basket-full {
  background-color: var(--basic-red);
  height: 100%;
  display: inline-grid;
  grid-template-rows: 42px;
}

.bookmarks,
.basket,
.order-confirm {
  color: var(--basic-white);
  width: 100%;
  display: inline-grid;
  align-items: center;
  height: 100%;
}

.order-confirm-item {
  background-color: var(--basic-green);
  height: 100%;

}

.basket-full:active {
  background-color: var(--basic-dark-red);
  color: rgba(var(--basic-white-rgb), 0.5);
}

.order-confirm:hover {
  background-color: var(--special-green);
}

.order-confirm:active {
  color: rgba(var(--basic-white-rgb), 0.5);
}

.login-link:hover {
  color: var(--basic-red);
}

.registration-link:hover {
  color: var(--basic-red);
}

.login-link:active,
.registration-link:active {
  color: var(--special-gray-active);
}

/* Mid Header*/

.mid-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 158px;
  align-items: center;

}

.title h1 {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: var(--basic-red);
  margin: 0 0 0 30px;
  padding-right: 60px;
}

.title p {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-style: italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  color: var(--basic-red);
}

.contacts {
  text-align: center;

}

.contacts a {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  padding-right: 45px;
  padding-left: 40px;
  border: 3px solid var(--basic-white);
  color: var(--basic-red);
}

.contacts p {
  font-size: 14px;
  color: var(--basic-blue);
  margin: 0;
}

.account-field {
  text-align: end;
  align-items: center;
}
/* Нужно выровнить с другими*/
.login-link,
.registration-link {
  background-color: var(--basic-white);
  padding: 0.5em 1.2em 0.5em;
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 0.2em;
}

.account-field a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
}

.account-details a {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-blue);
}

/* Bottom Header */

.bottom-header {
  background: var(--basic-blue);
  color: var(--basic-white);
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;

  font-style: normal;
  font-weight: 400;
  box-shadow: inset 0px -5px 0px var(--basic-dark-blue);
  padding:  16px 0 20px 0;
  margin: 0 auto 60px;
 }

.navigation-item a {
  color: var(--basic-white);
}

.navigation-item:hover,
.navigation-item a:hover {
  background-color: var(--basic-dark-blue);
}

.navigation-item a:active {
  background-color: var(--special-blue-active);
  color: rgba(var(--basic-white-rgb), 0.5);
}

/* Body */

.main-container {
  margin-top: 60px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Preview */

.preview {
  margin: 0;
  padding: 0;
}

.preview-list{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;


}

.preview-item:first-child {
  background-color: var(--basic-orange);
}

.preview-item:nth-child(2) {
  background-color: var(--basic-sky-blue);
}

.preview-item:nth-child(3) {
  background-color: var(--basic-pink);
}

.preview-item:nth-child(5) {
  background-color: var(--basic-fern);
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

.preview-item:nth-child(6) {
  background-color: var(--basic-dark-orange);
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.preview-item {
  width: 300px;
  padding-bottom: 21px;

  line-height: 20px;
  font-weight: bold;
  font-style: normal;
  font-size: 24px;

  color: var(--basic-white);
}

.preview-item h3 {
  padding-left: 23px;
}

.preview-item a {
  margin-left: 23px;

  line-height: 18px;
  font-size: 14px;
  font-style: normal;

  color: var(--basic-white);
  text-transform: uppercase;
}

.preview-link {
  width: 135px;
  padding: 10px 24px;

  background-color: rgba(var(--basic-white-rgb), 0.3);
}

.preview-link:hover {
  background-color: rgba(var(--basic-greylight-rgb), 0.3);
}

.preview-link:active {
  background-color: rgba(var(--special-graylight-active), 0.3);
}

/* Slider */

.slider-item {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;

  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
}

.slider-item p {
  position: absolute;
}

.slider-item h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  position: absolute;
}

.slider-item a {
  position: absolute;
}

.button {
  width: 192px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button:hover {
  background-color: var(--special-red);
}

.button:active {
  background-color: var(--basic-dark-red);
}

/* Product Card*/

.product-card {
  border: 1px solid #EAEAEA;
}

.product-card a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  color: var(--basic-black);
}

.sale-price {
  color: var(--basic-gray);
  text-decoration: line-through;
}

.price {
  padding-bottom: 10px;
  padding-top: 10px;

  font-family: 'PT Sans', 'Arial', sans-serif;
  color: var(--basic-white);
  background-color: var(--basic-red);
  font-size: 17px;
  line-height: 18px;
  width: 141px;
  text-align: center;
}

.offer-list a:first-of-type {
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  border-radius: 2px;
  background-color: var(--basic-green);
  color: var(--basic-white);
  box-shadow: inset 0px -3px 0px var(--special-green-shadow);
}

.offer-list a:nth-of-type(2) {
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-transform: uppercase;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  background-color: var(--basic-white);
  color: var(--basic-blue);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.offer-list a:first-of-type:hover {
  background-color: var(--special-green);
}

.offer-list a:first-of-type:active {
  background-color: var(--special-green-active);
}

.offer-list a:nth-of-type(2):hover {
  border: 3px solid var(--basic-blue);
}

.offer-list a:nth-of-type(2):active {
  opacity: 0.5;
}

/* Popular goods */

.popular-goods {
  margin-top: 60px;
}

.popular-title {
  display: grid;
  grid-column: 1fr min-content;
  height: 89px;
  background-color: var(--basic-beige);
}

.popular-title-item {
  grid-column: 1 / 2;
  justify-self: start;
  padding-top: 30px;
}

.popular-button {
  grid-column: 2 / 3;
  justify-self: end;
  padding-right: 14px;
  padding-top: 25px;
}

.popular-title h2{
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);

  margin: 0;
}

.popular-title .button {
  margin: 0;
}


.product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  list-style: none;
  gap: 20px;

  padding: 0;
}

.popular-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content min-content;
  list-style: none;
  gap: 20px;
  margin: 20px 0 0 0;
  padding: 0;
}

/* Popular brands */

.popular-brands {
  margin-top: 70px;

}

.brand-item {
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  list-style: none;
  border: 1px solid #EAEAEA;
  text-align: center;
}

.brand-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
  padding: 0;
}

/*
.brand-item {
  box-shadow: 0 0 10px rgba(var(--basic-black-rgb) 0.5);
}
*/

/* Services */

.services {
  background-color: var(--basic-light-blue);
  margin-top: 70px;
}
.services-list {
  color: var(--basic-blue);

  list-style: none;
}

.about-services {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.services h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;

  color: var(--basic-black);
  text-transform: uppercase;
}

.services h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;

  color: var(--basic-blue);
}

.services p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;

  color: var(--basic-black)
}

.services-button {
  padding-top: 13.5px;
  padding-bottom: 17.5px;
  width: 240px;

  font: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;

  border: none;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.services-item .active {
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.services-button:hover {
  background-color: var(--basic-dark-blue);
}

.services-button:active {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

/* About company */

.about-company{
  color: var(--basic-black);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10px;
  margin-bottom: 70px;
  column-gap: 100px;
}

.logistic-info h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.logistic-info p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.company-list {
  font-size: 18px;
}

map {
  color: var(--basic-black);
}

.map h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.map p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* Footer */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

.footer {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.footer-top {
  background-color: var(--basic-blue);
}

.footer-top-wrapper {
  padding-bottom: 54px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.footer-logo {
  padding-top: 21px;
  padding-bottom: 26px;
  width: 220px;

  background-color: var(--basic-red);
  background-image: url(../img/main-logo.svg);
  background-repeat: no-repeat;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-contacts {
  color: var(--basic-light-gray);
  grid-column: 1 / 2;
}

.footer-contacts a {
  color: var(--basic-light-gray);
}

.footer-navigation {
  list-style: none;
  grid-column: 2 / 3;
}

.footer-navigation a {
  color: var(--basic-light-blue);
}

.footer-navigation-item a:hover {
  text-decoration: underline;
}

.footer-navigation-item a:active {
  opacity: 0.5;
}

.product-groups-list {
  list-style: none;
  grid-column: 2 / 3;
}

.product-groups-list a {
  color: var(--basic-gold);
}

.product-groups-item a:hover {
  text-decoration: underline;
}

.product-groups-item a:active {
  opacity: 0.5;
}

/* Footer-bottom */

.footer-bottom {
  color: var(--basic-white);
  background-color: var(--basic-dark-blue);
}

.footer-bottom-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  font-size: 16px;
  line-height: 18px;
  padding-top: 35px;
  padding-bottom: 35px;
}

.social-list {
  list-style: none;
}

.social-list a {
  color: var(--basic-white);
}

.social-button a:hover,
.social-button a:active {
  color: var(--basic-red);
}

.communication a {
  color: var(--basic-gold);
}

.communication a:hover {
  text-decoration: underline;
}

.communication a:active {
  color: var(--basic-red);
}


/* Catalog */
/* Catalog subtitle */

.main-catalog-grid {
  display: grid;
  grid-auto-columns: 220px 1fr;
  column-gap: 20px;
}

.goods-filter-area {
  grid-column: 1 / 2;
}

.goods-choice-area {
  grid-column: 2 / 3;
}

.breadcrumbs-list {
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 0.7em;
}

.breadcrumbs-item a {
  font-size: 13px;
  text-decoration: none;
  color: var(--basic-black);
}

.breadcrumbs-list {
  font-family: 'PT Sans', Arial, sans-serif;
  list-style: none;
  text-transform: uppercase;
  color: var(--basic-black);
}

.subtitle h2 {
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;

  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue);
  text-transform: uppercase;
  font-weight: 400;
  background-color: var(--special-light-blue);
}

/* Sort area */

.sort-title-area {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 20px;

}

.sort-title {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  background-color: var(--basic-beige-darknes);
  text-transform: uppercase;
  margin: 0;
}

.main-filter {
  display: grid;
  grid-template-columns: 220px;
  grid-template-rows: 38px min-content;
  row-gap: 20px;
}

.sort-title p {
  margin: 0;
  align-self: center;
  padding-left: 20px;
}

.sort-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 38px;
  padding: 0;
  margin: 0;
  align-items: center;
}

.sort-item {
  text-align: center;
}

.sort-title p {
  color: var(--basic-black);
}

.sort-title a {
  color: var(--basic-black);
}

.sort-list {
  text-decoration: none;
  list-style: none;
}

.sort-active a {
  color: var(--basic-red);
}

.quiet a {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
  opacity: 0.3;

}

.sort-item a:hover,
.quiet a:hover {
  color: var(--basic-black);
  opacity: 1;
  text-decoration: underline;
  text-decoration-color: var(--basic-red);
}

.sort-item a:active,
.quiet a:active {
  color: var(--basic-red);
  opacity: 1;
}

.choice-price legend,
.choice-brand legend,
.choice-power legend {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.show-btn {
  padding: 10px 79px 10px 79px;
  margin-top: 35px; /* Не понятно какой маргин */

  font-family: 'PR Sans', 'Arial' sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  background-color: var(--basic-white);
  border: 1px solid #E5E5E5;
}

/* Brands filter*/

.choice-brand-list,
.power-list {
  font-family: 'PT Sans', 'Arial', sans-serif;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
  font-size: normal;
  line-height: 23px;
}

/* Pages field */

.page-list {
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
  column-gap: 10px;
  margin-top: 48px;
  margin-bottom: 59px;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  list-style: none;
}

.page-active {
  background-color: var(--basic-red);
  color: var(--basic-white);
  padding: 10px 15px 10px 15px;
  border-radius: 2px;
  border: 1px solid var(--basic-red);
}

.page-link {
  padding: 10px 15px 10px 15px;
  color: var(--basic-black);
  border-radius: 2px;
  border: 1px solid var(--special-gray-border);
}



.page-link:active,
.page-active:active {
  border-color: var(--basic-red);
}

/* Article */

.article {
  background-color: var(--basic-light-blue);
  width: 100%;
  margin: 0;
}

.article h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;

}

.article p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;

  margin: 0;
}
